<div id="wrapper">

        <div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Webseotips
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Team</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Submanu title <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Dropdown heading</li>
                        <li><a href="#">Submanu 1</a></li>
                        <li><a href="#">Submanu 2</a></li>
                        <li><a href="#">Submanu 3</a></li>
                        <li><a href="#">Submanu 4</a></li>
                        <li><a href="#">Submanu 5</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>

            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!--<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button> -->
            <div id="topmenu" class="navbar navbar-fixed-top">
                <font face="Segoe,Verdana, sans-serif">
                    <h3 class="sidebar-brand">EDU</h3>
                    <i class="fas fa-bells"></i>
                </font>
            </div>
            <button type="button" class="btn custom-btn" data-toggle="offcanvas">
                <i class=" 	fas fa-angle-double-right"></i>
            </button>
            <p class="#page-content-wrapper">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsa dignissimos, sit vero cumque nihil accusamus earum, reiciendis vel neque ab perferendis sequi esse quia consequatur voluptates animi numquam architecto!</p>


        </div>
        <!-- /#page-content-wrapper -->

    </div>