<div class="wrapper">
  <nav id="sidebar" style="height: 700px; margin-top: 65px;">
    <ul class="list-unstyled components">
   		<li class="active">
   			
   			<li>
   				<%= link_to "Dashboard", root_path %>
   			</li>
   			<li>
   				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Page</a>
   				<ul class="collapse list-unstyled" id="pageSubmenu">
   					<li>
   						<a href="#">page1</a>
   					</li>
   					<li>
   						<a href="#">page2</a>
   					</li>
   					<li>
   						<a href="#">page3</a>
   					</li>
   				</ul> 
   			</li>
   			  <li>
   				  <a href="#">Services</a>
   			  </li>
   		    <li>
   				  <a href="#">Contact Us</a>
   			  </li>
   	  </ul>
   		<ul class="list-unstyled CTAs">
   			<li>
   				<a href="#" class="download">Download code</a>
   			</li>
   			<li>
   				<a href="#" class="article">article</a>
   			</li>
   		</ul>
  </nav>
    <div class="container-fluid" style = "margin-top: -70px;" >
   		<%= render 'structure/navbar'  %>
  	</div>
</nav>